<section class=" p-4  rounded-3">
  <div class="bg-img"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <img class="w-100 mt-md-3" src="../../../assets/images/halls/DSC_3460.jpg" alt="">
        <div class="status text-center w-100 mt-3 ">
          <p class="p-2 rounded-3 mainBg text-white">approved</p>
        </div>
      </div>
      <div class="col-md-9 col-12 d-flex align-items-start justify-content-between">
        <div class="resDetials mt-3 text-end fw-semibold">
          <p>
            التاريخ :
            <span>23.7.2023</span>
          </p>
          <p class="">
            الوقت :
            <span> 8-10</span>
          </p>
          <p>
            عدد الحاضرين :
            <span> 300</span>
          </p>
          <p>
            المناسبة :
            <span>حفل تخرج</span>
          </p>
        </div>
        <div class="">
          <button class="btn btn-danger">cancel</button>
        </div>
      </div>
      <!-- <div class="position-relative w-auto" style="right: 10%;">
        <button class="btn btn-danger">cancel</button>
      </div> -->
    </div>
  </div>
</section>
