<div class=" vh-100 scroll py-3" *ngIf="reservations?.length != 0">
<section class=" p-4  rounded-3 my-3" *ngFor="let reservation of reservations">
  <div class="bg-img"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <img class="w-100 mt-md-3" src="{{reservation?.hallId?.hallImg}}" alt="">
        <div class="status text-center w-100 mt-3 ">
          <p class="p-2 rounded-3 mainBg text-white">{{reservation?.status}}</p>
        </div>
      </div>
      <div class="col-md-9 col-12 d-flex align-items-start justify-content-between row p-0">
        <div class="resDetials mt-3 text-end fw-semibold  col-md-9">
          <p>
            Department name :
            <span>{{reservation?.
              AdministrationName}}</span>
          </p>
          <p>
            Data :
            <span>{{reservation?.date}}</span>
          </p>
          <p class="">
            Time :
            <span> {{reservation?.encounterTime}}</span>
          </p>
          <p>
            Number of attendees:
            <span> {{reservation?.members}}</span>
          </p>
          <p>
            Event :
            <span> {{reservation?.encounterType}}</span>
          </p>
          <p class=" d-flex" *ngIf="reservation?.needs.length != 0">
            what you need :
            <span class=" d-flex"> <p *ngFor="let item of reservation?.needs">{{item}},</p></span>
          </p>
        </div>
        <div class=" col-md-3 d-flex justify-content-end p-0 mt-md-0 mt-3">
        <button class="btn btn-primary" (click)="OnHoldReservation(reservation._id)" *ngIf="userData?.role == 'Admin'">On hold</button>
      </div>
      </div>

    </div>
  </div>
</section>
</div>
<app-no-data *ngIf="reservations?.length == 0"></app-no-data>
<app-loading *ngIf="loading"></app-loading>
