<section #footer class="">
  <div class="mask">
    <div class="pt-5 container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-6 z-5 d-flex justify-content-center ">
          <p class="text-white-50">
            <i class="bi bi-telephone-fill text-white-50"></i>
            <span class="px-1"> {{'footer.forContactUs'|translate}} </span>
            <span class="text-white">19912</span>
          </p>
        </div>
      </div>
      <div class="row fs-3 iconDiv w-25 m-auto justify-content-center pt-5 pb-3">
        <a class="col-md-2 col-5 mb-3 z-5 offset-md-0 offset-1 iconBorder text-center py-1 p-0 link-light" href="" target="_blank">
          <i class="bi bi-youtube"></i>
        </a>
        <a class="col-md-2 col-5 mb-3 z-5 iconBorder text-center py-1 p-0 mx-md-3 link-light" href="" target="_blank">
          <i class="bi bi-twitter"></i>
        </a>
        <a class="col-md-2 col-5 z-5 mb-3 offset-md-0 offset-1 iconBorder text-center py-1 p-0 ms-md-3 link-light" href="" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
        <a class="col-md-2 col-5 z-5 mb-3 iconBorder text-center py-1 p-0 link-light">
          <i class="bi bi-snapchat"></i>
        </a>
      </div>
    </div>
  </div>

</section>
