<section #footer class="">
  <div class="mask">
    <div class="pt-3 container-fluid">
      <div class="row d-flex justify-content-center  align-items-center">
        <div class="col-md-3 col-6 z-5 d-flex justify-content-center">
          <img src="../../../../assets/images/colored-logo.png" alt="">
        </div>
        <div class="col-md-3 col-6 z-5 d-flex justify-content-center">
          <img class="" style="width: 10%;" src="../../../../assets/images/w3c.svg" alt="">
          <img class="px-3" style="width: 40%;" src="../../../../assets/images/DC.svg" alt="">
          <img class="" style="width: 10%;" src="../../../../assets/images/SSL.svg" alt="">
        </div>
        <!-- <div class="col-md-3 col-6 z-5 d-flex justify-content-center">
          <p class=" text-white-50"> {{'footer.dimensions'|translate}} <span class="text-white pe-2">1024 * 768</span> </p>
        </div> -->
        <div class="col-md-3 col-6 z-5 d-flex justify-content-center ">
          <p class="text-white-50">
            <i class="bi bi-telephone-fill text-white-50"></i>
            <span class="px-1"> {{'footer.forContactUs'|translate}} </span>
            <span class="text-white">19996</span>
          </p>
        </div>
      </div>
      <!-- <div class="row justify-content-center w-100 my-5"> -->
        <!-- <div class="col-md-5 offset-1 col-5 d-flex justify-content-center text-white bg-white bg-opacity-25 text-center mb-md-0 mb-3 py-2 rounded-1 cursor-pointer"
        routerLink="/gallery">
          <p>{{'footer.AvailableHalls'|translate}}</p>
        </div>
        <div class="col-md-5 col-5 text-white bg-white bg-opacity-25 text-center mb-md-0 mb-3 py-2 rounded-1 cursor-pointer" routerLink="/booking">
          <p>{{'footer.HallReservation'|translate}}</p>
        </div> -->
        <!-- <div class="col-md-2 offset-1 col-5 text-white bg-black-70 text-center py-2 rounded-1">
          <p>{{'footer.contactUs'|translate}}</p>
        </div>
        <div class="col-md-2 col-5 text-white bg-black-70 text-center py-2 rounded-1" routerLink="/register">
          <p>{{'footer.login'|translate}} </p>
        </div> -->
      <!-- </div> -->
      <div class="row fs-3 iconDiv w-25 m-auto justify-content-center pt-5 pb-3">
        <a class="col-md-2 col-5 mb-3 z-5 offset-md-0 offset-1 iconBorder text-center py-1 p-0 link-light" href="https://www.youtube.com/channel/UCNI3mOncSgbjIJJp01EzgVA" target="_blank">
          <i class="bi bi-youtube"></i>
        </a>
        <a class="col-md-2 col-5 mb-3 z-5 iconBorder text-center py-1 p-0 mx-md-3 link-light" href="https://twitter.com/moe_gov_sa" target="_blank">
          <i class="bi bi-twitter"></i>
        </a>
        <a class="col-md-2 col-5 z-5 mb-3 offset-md-0 offset-1 iconBorder text-center py-1 p-0 ms-md-3 link-light" href="https://www.instagram.com/moe_gov_sa/" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
        <a class="col-md-2 col-5 z-5 mb-3 iconBorder text-center py-1 p-0 link-light">
          <i class="bi bi-snapchat"></i>
        </a>
      </div>
      <p class="text-center z-5 text-white my-3">{{'footer.footerText'|translate}}</p>
    </div>
  </div>

</section>
