<section class=" w-100 my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="main p-0 rounded-3 col-lg-5 col-md-8 col-10">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup h-100">
          <form>
            <label for="chk" aria-hidden="true">Sign up</label>
            <div class="d-flex justify-content-center align-items-center mb-3 w-100">
              <input class="w-10 m-0 my-auto align-items-center" type="checkbox" id="exampleCheck">
            <label class="fs-5 m-0 w-50 justify-content-start" for="exampleCheck">أنا من خارج وزارة التعليم</label>
            </div>

            <input type="text" name="name" placeholder="اسم الأدارة" required="">
            <input class="my-2" type="email" name="email" placeholder="البريد الألكتروني" required="">
            <input class="my-2" type="password" name="password" placeholder="كلمة المرور" required="">
            <input type="number" name="phone" placeholder="رقم هاتفك" required="">

            <div class="d-flex justify-content-center w-100 mt-3">
              <select class="p-1" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            
            <button class="">Sign up</button>
          </form>
        </div>
        <div class="login">
          <form>
            <label class="" for="chk" aria-hidden="true">Login</label>
            <input class="mb-3 bg-white" type="email" name="email" placeholder="البريد الألكتروني" required="">
            <input class="bg-white" type="password" name="password" placeholder="كلمة المرور" required="">
            <button class="mainColor bg-light">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
