section {

  .slide {
    height: auto;

    img {
      object-fit: cover !important;
      height: 40rem !important;
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   background-color: #000000;
    //   opacity: .6;
    //   box-sizing: border-box;
    // }
  }
}

