.disabled{
  pointer-events: none !important;
  cursor: none !important;
}
input[type='radio']:checked ~ label{
background: #2fab99 !important;
color:#fff
}
#booking {
  background-image: url('../../../assets/images/business-online-shopping-concept-people-shopping-pay-by-credeit-card1.jpg');
  background-size: cover;
  background-position: center;
  // height: calc(100vh - 97px) !important;
  height: auto !important;

  input:focus {
    border-right: #2fab99 solid 7px;
  }
label{
  white-space: nowrap !important;
}
  .radioBtn:checked {
    background-color: #c6f3dfd0 !important;
  }

  input,
  button {
    outline: none !important;
    border: 0;
  }

  .activeType {
    background-color: #2fab99;
  }

  .timeFocus {
    background-color: #2fab99 !important;
    color: white;
  }

  .dropdown-menu {
    --bs-dropdown-link-active-bg: #2fab99;
    width: 100%;

    li {
      a {
        text-align: initial !important;
      }
    }
  }
}
// .multiselect-dropdown {
//   background-color: white !important;
//   .dropdown-btn {
//     display: inline-block;
//     border: 1px solid #ff0000 !important;
//     width: 100%;
//     padding: 6px 12px;
//     margin-bottom: 0;
//     font-weight: 400;
//     line-height: 1.52857143;
//     text-align: left;
//     vertical-align: middle;
//     cursor: pointer;
//     background-image: none;
//     border-radius: 4px;
//   }
// }
.highlighted-dates::-webkit-calendar-picker-indicator {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(160deg);
}
