<section class="bg-light">
  <div>
    <app-slider-holder></app-slider-holder>
  </div>
  <div class="container-fluid px-md-3">
    <div class="row justify-content-between">
      <div class="galaryBtn d-flex align-items-end justify-content-start col-md-5  text-white col-12" routerLink="/galary">
        <p class="fs-5 fw-bold">معرض الصور</p>
      </div>
      <div class="bookBtn d-flex align-items-end justify-content-start text-white col-md-5 col-12" routerLink="/booking">
        <p class="fs-5 fw-bold"> {{'home.bookNow' | translate}}</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

