section{
  p{
    z-index: 5 !important;
  }
  .bookBtn {
    p{
      opacity: 0;
      transition: 0.5s;

    }
    &:hover{
      p{
        transition: 0.5s;
        opacity: 1;
      }
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    position: relative;
    background-image: url(../../../assets/images/images.jpg);
    background-position: center;
    background-size: 50rem;
    transition: .5s;
    height: 20rem;
    // width: 50%;
    &:hover{
      background-size: 55rem;
      transform: scale(97%);
      transition: .5s;
    }
    @media screen and (max-width: 600px) {
      height: 15rem !important;
      background-size: 35rem !important;
    }
    &::after{
      content: "";
      position: absolute;
      height: 20rem;
      width: 100%;
      // border-radius: 1rem;
      background-color: black;
      opacity: .5;
      top: 0;
      left: 0;
      box-sizing: border-box;
      @media screen and (max-width: 600px) {
        height: 15rem !important;
      }
    }
  }
  .galaryBtn {
    p{
      opacity: 0;
      transition: 0.5s;

    }
    &:hover{
      p{
        transition: 0.5s;
        opacity: 1;
      }
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    position: relative;
    background-image: url(../../../assets/images/halls/banquet-hall-weddings.avif);
    background-position: center;
    background-size: 50rem;
    transition: .5s;
    height: 20rem;
    // width: 50%;
    &:hover{
      background-size: 55rem;
      transform: scale(97%);
      transition: .5s;
    }
    @media screen and (max-width: 600px) {
      height: 15rem !important;
      background-size: 35rem !important;
    }
    &::after{
      content: "";
      position: absolute;
      height: 20rem;
      width: 100%;
      // border-radius: 1rem;
      background-color: black;
      opacity: .5;
      top: 0;
      left: 0;
      box-sizing: border-box;
      @media screen and (max-width: 600px) {
        height: 15rem !important;
      }
    }
  }
}
