<section class="bg-light">
  <div>
    <app-slider-holder></app-slider-holder>
  </div>
  <div class="container-fluid px-md-3">
    <div class="row justify-content-between">
      <div class="galaryBtn cursor-pointer d-flex align-items-end justify-content-start col-md-5 text-white col-12" routerLink="/gallery">
        <p class="fs-2 p-4 fw-bold">{{'home.gallery' | translate}}</p>
      </div>
      <div class="bookBtn cursor-pointer d-flex align-items-end justify-content-start text-white col-md-5 col-12" routerLink="/booking">
        <p class="fs-2 p-4 fw-bold"> {{'home.bookNow' | translate}}</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

