<section class="bg-light">
  <div>
    <!-- <app-slider-holder></app-slider-holder> -->
    <img class="w-100 mainImg" src="../../../../assets/images/halls/Slide4.png" alt="">
  </div>
  <div class="">
    <div class="row justify-content-between m-0">
      <div class="galaryBtn cursor-pointer d-flex align-items-end justify-content-start col-md-6 text-white col-12" routerLink="/gallery">
        <p class="fs-2 p-4 fw-bold">Gallery</p>
      </div>
      <div class="bookBtn cursor-pointer d-flex align-items-end justify-content-start text-white col-md-6 col-12" routerLink="/booking">
        <p class="fs-2 p-4 fw-bold">Book Now</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

