section {
  position: relative;
  z-index: 5;
  width: 75vw;
  height: 80vh;
  margin-top: 6rem;
    img{
      height: 20rem;
    }
    .details{
      h2{
        &:hover {
          .editHall, .deleteHall{
            opacity: 1;
            transition: 0.5s;
          }
        }
        .editHall{
          right: -20px;
          top: -15px;
          font-size: 15px;
          opacity: 0;
        }
        .deleteHall{
          right: -45px;
          top: -15px;
          font-size: 15px;
          opacity: 0;
        }
      }
    }
  @media screen and (max-width: 768px) {
    height: 60vh !important;
    img{
      height: 100%;
    }
  }
  .details{
    @media screen and (max-width: 768px) {
      width: 100% !important;
      margin-top: 3rem;
      p{
        width: 100% !important;
      }
    }
  }
}



