section {
  position: relative;
  z-index: 5;
  width: 75vw;
  height: 60vh;
  margin-top: 6rem;

    img{
      height: 20rem;
    }
    .img{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .details{
      h2{
        &:hover {
          .editHall, .deleteHall{
            opacity: 1;
            transition: 0.5s;
          }
        }
        .editHall{
          right: -20px;
          top: -15px;
          font-size: 15px;
          opacity: 0;
        }
        .deleteHall{
          right: -45px;
          top: -15px;
          font-size: 15px;
          opacity: 0;
        }
      }
    }
}



