nav{
  .sign{
    @media screen and (max-width:991px) {
      width: 100% !important;
    }
  }
  img{
    width: 35% !important;
  }
  .navbar-brand{
    @media screen and (min-width:766px) {
      width: 30% !important;
    }
  }
  a{
    white-space: nowrap;
  }
  .logo{
    transition: all 1s;
    padding-bottom: 10px;
  }
  .arabicLang{
    width: 20px;
    height: 10px;
    background-image: url(../../../assets/images/saudi-arabia-flag.png);
    background-position: center;
    background-size: contain;
  }
  .englishLang{
    width: 20px;
    height: 10px;
    background-image: url(../../../assets/images/Flag_of_the_United_States.svg);
    background-position: center;
    background-size: contain;
  }
}
