<nav class="navbar navbar-expand-md mainBg bg-body-tertiary sticky-top">
  <div class="container-xl">
    <a class="navbar-brand me-xxl-5 pe-xxl-3 me-0 pe-0 d-flex justify-content-md-start" routerLink="/home">
      <!-- <img class="logo" src="../../../assets/images/Logo.svg" alt=""> -->
      <h3 class="text-white fw-bold px-xl-4 px-md-3 px-0 mt-2">Halls</h3>
      <!-- {{'navBar.title' | translate}} -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="justify-content: space-between;" id="navbarNavDropdown">
      <ul class="navbar-nav fs-5 pe-0 justify-content-start d-flex">
        <li class="nav-item">
          <a class="nav-link active text-white px-xl-4 px-md-3 px-0" aria-current="page" routerLink="/home">Home</a>
          <!-- {{'navBar.home' | translate}} -->
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-xl-4 px-md-3 px-0" routerLink="/booking">Book Now
          </a>
          <!-- {{'navBar.bookNow' | translate}} -->
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-xl-4 px-md-3 px-0" routerLink="/gallery">Gallery
          </a>
          <!-- {{'navBar.gallery' | translate}} -->
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-xl-4 px-md-3 px-0" routerLink="/userProfile">Reservtions</a>
          <!-- {{'navBar.reservations' | translate}} -->
        </li>

      </ul>
      <div class="sign fs-5 ps-lg-5 pe-0 d-flex justify-content-md-end justify-content-md-start justify-content-between w-50">
        <li *ngIf="!isLoggedIn" class="nav-item text-decoration-none list-unstyled d-flex align-items-center">
          <a class="nav-link text-white " #outOrIn routerLink="/register">Sign In</a>
          <!-- {{'navBar.signIn' | translate}} -->
        </li>
        <li *ngIf="isLoggedIn" class="nav-item text-decoration-none list-unstyled d-flex align-items-center">
          <a class="nav-link text-white " routerLink="/register" (click)="logOut()">Log Out</a>
          <!-- {{'navBar.logout' | translate}} -->
        </li>

        <span class="pb-2 pb-md-0 mainBg text-white me-4">
          <select class="form-control text-white mainBg border-0 fs-5 p-2 fw-semibold text-start" #selectedLang
            (change)="switchLang(selectedLang.value)">

            <option *ngFor="let language of translate.getLangs()" [value]="language"
              [selected]="language === translate.currentLang">
              {{ language }}
            </option>
          </select>
        </span>
      </div>


    </div>
  </div>
</nav>
