<nav class="navbar navbar-expand-lg mainBg bg-body-tertiary sticky-top">
  <div class="container">
    <a class="navbar-brand me-xxl-5 pe-xxl-3 me-0 pe-0 d-flex justify-content-lg-center" routerLink="/home">
      <img class="logo" src="../../../assets/images/Logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-start d-flex">
        <li class="nav-item">
          <a class="nav-link active text-white fw-semibold" aria-current="page" routerLink="/home">{{'navBar.home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-lg-3" routerLink="/booking">أحجز الأن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-lg-3" routerLink="/gallery">معرض الصور</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-lg-3" routerLink="/userProfile">الحجوزات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" href="#">تواصل معنا</a>
        </li>
        <div class="sign pe-lg-4 pe-0">
          <li class="nav-item text-decoration-none list-unstyled">
            <a class="nav-link text-white fw-semibold" routerLink="/register">تسجيل الدخول</a>
            <!-- <a class="nav-link text-white fw-semibold" (click)="logout()" routerLink="/register">تسجيل الخروج</a> -->
          </li>
        </div>
      </ul>
      <!-- <label for="ar" class="arabicLang"></label>
      <label for="en" class="englishLang"></label> -->
      <span class="pb-2 pb-md-0 mainBg text-white">
        <select class="form-control text-white mainBg border-0 fs-5" #selectedLang
          (change)="switchLang(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>
      </span>
    </div>
  </div>
</nav>

