<section class="p-3 pb-0">
  <div
    class=" vw-100 vh-100 position-absolute top-0 end-0 d-flex align-items-center justify-content-center bg-black bg-opacity-75"
    style="z-index: 8;">
    <div
      class="bg-white d-flex align-items-center justify-content-evenly flex-column w-50 rounded-3 mt-5 position-relative"
      style="height: 40%;">
      <i class="bi bi-x position-absolute top-0 end-0 m-2 cursor-pointer fs-2" (click)="closeEditPage()"></i>
      <div class="container">
        <form [formGroup]="editHallForm" (ngSubmit)="editHall(editHallForm.value)">
          <div class="row justify-content-center mb-3">
            <div class="col-md-5 col-12">
              <div class="">
                <label class="w-100 rounded-3 p-2" for="updateImg"><i class="bi bi-pencil-square ms-3"></i><span>{{'editHall.ChooseANewPhoto' | translate}} </span></label>
                <input class="opacity-0" type="file" id="updateImg" name="updateImg">
              </div>
            </div>
            <div class="col-md-5 col-12 justify-content-center">
              <input class="w-100 rounded-3 p-2" type="text" placeholder="{{'editHall.maximumNumberOfAttendees' | translate}}">
            </div>
          </div>
          <div class="row justify-content-center mb-3">
            <div class="col-md-5 col-12 justify-content-center">
              <input class="w-100 rounded-3 p-2" type="text" placeholder="{{'editHall.ChangingTheNameOfTheHall' | translate}}" name="newName"
                formControlName="newName">
            </div>
            <div class="col-md-5 col-12 justify-content-center">
              <input class="w-100 rounded-3 p-2" type="text" placeholder="{{'editHall.ChangingTheDescriptionOfTheHall' | translate}}" name="newDesc"
                formControlName="newDesc">
            </div>
          </div>
        </form>
      </div>
      <div class="row d-flex w-75 justify-content-start align-items-end">
        <div class="col-md-2 col-6">
          <button class="btn mainBg px-3 text-white border-0">{{'editHall.done' | translate}}</button>
        </div>
        <div class="col-md-2 col-6">
          <button class="btn bg-danger text-white border-0" (click)="closeEditPage()">{{'editHall.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

</section>
