<section class="py-5 px-4 bg-light">

  <button routerLink="/addHall"  *ngIf="userData?.role == 'Admin'" class="addIcon btn px-3 mx-5 d-flex align-items-center justify-content-between"><i class="bi bi-plus-lg fs-3 fw-bold ms-3"></i>
    <span class="fw-semibold">{{'addHallBtn.addHall' | translate}}</span></button>
  <div class="galary p-5">
    <div style="background-image: url({{hall.hallImg}});" class="position-relative img transition" (click)="disPlayHall = hall" *ngFor="let hall of allHalls let x = index" [ngClass]="[(x+1)%9 == 1 ? 'tall' : '',  (x+1)%9 == 4 ? 'tall' : '', (x+1)%9 == 0 ? 'wide' : '']">

      <div class="mask">
        <h1 class="text-white">{{hall.hallName}}</h1>
      </div>
    </div>
  </div>
</section>
<div class=" top-0 w-100 vh-100 bg-black bg-opacity-75 position-fixed d-flex align-items-center justify-content-center "
  *ngIf="disPlayHall!=''">
  <div class="">
    <app-hall-details [hallData]="disPlayHall" (closeHallDetails)="disPlayHall=''"></app-hall-details>
  </div>
</div>
