<section class="py-5 px-4 bg-light">
  <a class="addIcon w-25 pe-3 rounded-2 d-flex align-items-center text-decoration-none link-dark border-0 me-3" routerLink="/addHall">
    <i class="bi bi-plus-lg fs-3 fw-bold ms-3"></i>
    <span class="fw-semibold">أضف قاعة</span>
  </a>
  <div class="galary">
    <div class="tall position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3458.jpg"  alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>

    <div class=" position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3462.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
    <div class=" position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3470.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
    <div class="tall position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3466.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
    <div class=" position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3480.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
    <div class=" position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3483.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
    <div class=" position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3464.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
    <div class=" position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3481.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
    <div class="wide position-relative" (click)="getSrc($event)">
      <img class="" src="../../../assets/images/halls/DSC_3472.jpg" alt="">
      <div class="mask">
        <h1 class="text-white">hall name</h1>
      </div>
    </div>
  </div>
</section>
<div class=" top-0 w-100 vh-100 bg-black bg-opacity-75 position-fixed d-flex align-items-center justify-content-center "
  *ngIf="disPlayHall!=''">
  <div class="">
    <app-hall-details [hallData]="disPlayHall" (closeHallDetails)="disPlayHall=''"></app-hall-details>
  </div>
</div>
