<section class="position-fixed d-none m-5">
  <div class="  d-flex flex-column align-items-start justify-content-between bg-white closeData mb-3 rounded-2 fs-5 transition" #data>
    <p class="my-1">رقم الحجز في الادارة الرجالية : <span class=" fw-normal mainColor">5500-1377</span></p>
    <p class="my-1">رقم الحجز في الادارة النسائية : <span class=" fw-normal mainColor">0126730291</span></p>
    <p class="my-1">رقم تلفون إدارة تعليم بمبنى السبعين : <span class=" fw-normal mainColor">0126724111</span></p>
    <p class="my-1">هاتف : <span class=" fw-normal mainColor">1024</span></p>
  </div>
  <div>
    <button (click)="open(this.data)" class=" btn box-shadow p-0  rounded-5 box-shadow"><i
        class="text-white bi bi-telephone-fill m-0 p-0 fs-5"></i></button>
  </div>

</section>
